.about{
    margin-top: 2rem;
   
}
.free-free{
    margin-top: 0.5rem;
    margin-left: 3.5rem;
}

.content-1{
    padding: 30px;
}

.content-2{
    margin-top: -30px;
    padding: 30px;
}

.frenzy{
    margin-left: 30px;
}

.Fashion-Forward{
    margin-left: 30px;
    margin-top: 1rem;
}

.Tech{
    margin-left: 30px;
    margin-top: 1rem;  
}

.home-sweet{
    margin-left: 30px;
    margin-top: 1rem;  
}

.Gifts-Galore{
    margin-left: 30px;
    margin-top: 1rem;
}

.shopping{
    margin-left: 30px;
    margin-top: 1rem; 
}

.according{
    margin-top: 1rem;  
    margin-bottom: 3rem;
    text-align: center;
    color: gray;

}

.underline{
    margin-top: 2rem;
}